.day {
    background-color: #7ec632;
    font-weight: bold;
}

.day.reserved {
    color: #fff;
    background-color: #ef1919;
}

.day.passed {
    color: #fff;
    background-color: #8d8d8d;
}

.calendars {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.calendar {
    background-color: #ffcf54;
    width: 40%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid black;
}

.calendar table {
    width: 100%;
}

.calendar td {
    border: 1px solid black;
    padding: 5px;
}

@media screen and (max-width: 1000px) {

    .calendar {
        width: 100%;
    }

}